
<header class="bg-success py-5">
  <div class="container px-4 px-lg-5 my-4">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">Bienvenido</h1>
          <p class="lead fw-normal text-white-50 mb-0">El lugar de tus componentes y asistencia técnica online</p>
      </div>
  </div>
</header>
<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators" >
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" alt="...">
    </div>
    <div class="carousel-caption">
      <p >Tus componentes</p>
      <p class="subcaption">en un solo lugar</p>
    </div>
  </ng-template>
</ngb-carousel>

<app-myindex></app-myindex>
