<div class="card border-primary mb-3 text-center" id="contenedor">
  <hr>
  <div class="col-md-2"> <button class="btn btn-primary" (click)="creaProducto"> Añadir producto</button></div>
    <div class="card-header"> Todos los productos</div>
    <div class="card-body text-primary">
    <div class="table-responsive">
        <table class="table" *ngIf="products && products.length">
          <thead>
            <tr>
              <th>Imagenes</th>
              <th>Producto</th>
              <th>Codigo</th>
              <th>Stock</th>
              <th>Precio (USD)</th>
              <th>Tipo</th>
            </tr>
          </thead>
          <tr *ngFor="let product of products">
            <td> <img src={{product.imageUrl}} title="Imagen del producto" width="100"> </td>
            <td>{{product.nombre}}</td>
            <td>{{product.codigo}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price}}</td>
            <td>{{product.tipo}}</td>
            <td>
              <button class="btn btn-success" >
                <i class="fas fa-eye"></i>Ver
              </button>
              &nbsp;
              <button class="btn btn-success" (click)="actualizaProducto(product.id_producto, product)">
                <i class="fas fa-pencil-alt"></i>Editar
              </button>
              &nbsp;
              <button class="btn btn-danger" (click)="eliminaProducto(product.id_producto)">
                <i class="fas fa-trash-alt"></i>Borrar
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
