<app-mynavbar></app-mynavbar>
<mat-toolbar >
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <br>
    <h4>Menú</h4>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
       <button mat-button class="menu-button">
            <mat-icon>important_devices</mat-icon>
            <span>Producto</span>
       </button>
       <button mat-button class="menu-button">
            <mat-icon>movie</mat-icon>
            <span>Tutoriales</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>credit_card</mat-icon>
            <span>Mis compras</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>supervisor_account</mat-icon>
            <span>Asistencia Técnica</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="col-md-10">
            <div class="container" id="cabecera">
                <!-- cabecera -->
               <app-myhead></app-myhead>
               </div>
            <div class="container" id="inicio">
                <!-- inicio-->
                <app-myindex></app-myindex>
            </div>
            
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>





<!-- footer-->
<app-myfooter></app-myfooter> 
<!-- nueva pagina -->
<router-outlet></router-outlet>
