body{
    margin-top: 150px;
    margin-left: 600px;
    margin-right: 600px;
    color: rgb(30, 31, 30);
    border-radius: 20px;
    background-color: rgb(206, 255, 183);
    border: none;
}
.form-floating{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 2px;
    position: center;
    width: 70%;
    border: none;
}
#enter{
    width: 70%;
    margin-bottom: 20px;

}
img{
    margin-top: 40px;
    margin-bottom: 40px;
}